.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
}

/* 适配移动端 */
@media (max-width: 768px) {
  .container {
    width: 90%;
    height: calc(100vh - 56px); /* 考虑移动端顶部导航栏高度 */
  }
}